@font-face {
    font-family: 'montaga';
    src: url('../assets/montaga.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'montaga', sans-serif;
  }
